In [1]:
import numpy as np
import pandas as pd

In [2]:
train = pd.read_csv('../data/train.csv')
train_x = train.drop(["target"], axis=1)
train_y = train["target"]
test_x = pd.read_csv("../data/test.csv")

In [3]:
train

,age,sex,height,weight,product,amount,date,medical_info_a1,medical_info_a2,medical_info_a3,...,medical_keyword_2,medical_keyword_3,medical_keyword_4,medical_keyword_5,medical_keyword_6,medical_keyword_7,medical_keyword_8,medical_keyword_9,medical_keyword_10,target
0,50,Male,166.445608,65.016732,D1,7000000,2015/2/3,134,202,1,...,0,0,0,0,1,0,1,0,0,0
1,68,Female,164.334615,56.544217,A1,7000000,2015/5/9,438,263,3,...,0,0,0,0,0,1,1,0,0,0
2,77,Male,167.462917,54.242267,A3,6000000,2016/2/13,313,325,1,...,1,1,0,0,1,0,1,0,0,1
3,17,Male,177.097725,71.147762,B1,8000000,2015/7/6,342,213,2,...,0,0,0,0,0,0,1,0,0,0
4,62,Female,158.165788,65.240697,A2,9000000,2016/9/17,327,102,0,...,1,1,0,0,0,1,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,61,Male,182.729800,73.393777,A2,2000000,2015/10/21,189,232,7,...,1,0,0,0,0,0,1,1,0,0
9996,33,Female,167.701136,75.006529,C3,9000,2015/5/28,426,202,3,...,1,0,0,0,0,0,1,1,0,0
9997,44,Female,145.609998,47.739397,C3,1000,2016/2/29,370,274,1,...,0,0,0,0,0,0,1,0,1,0
9998,34,Female,165.796017,57.567695,C1,5000,2016/2/27,291,105,1,...,0,0,0,0,1,1,1,1,0,0
9999,31,Male,180.301762,71.425135,B2,1000000,2015/7/1,288,454,4,...,1,0,0,0,1,0,1,0,0,0

In [4]:
train_x_saved = train_x.copy()
test_x_saved = test_x.copy()

def load_data():
    """
    オリジナルのdataframeを返す
    """
    return train_x_saved.copy(), test_x_saved.copy()

In [5]:
cat_cols = ['sex', 'product', 'medical_info_b2', 'medical_info_b3']

In [6]:
# One-hot encoding
train_x, test_x = load_data()


import category_encoders as ce

ce_ohe = ce.OneHotEncoder(cols=cat_cols)
train_x = ce_ohe.fit_transform(train_x)
test_x = ce_ohe.transform(test_x)

train_x

,age,sex_1,sex_2,height,weight,product_1,product_2,product_3,product_4,product_5,...,medical_keyword_1,medical_keyword_2,medical_keyword_3,medical_keyword_4,medical_keyword_5,medical_keyword_6,medical_keyword_7,medical_keyword_8,medical_keyword_9,medical_keyword_10
0,50,1,0,166.445608,65.016732,1,0,0,0,0,...,1,0,0,0,0,1,0,1,0,0
1,68,0,1,164.334615,56.544217,0,1,0,0,0,...,0,0,0,0,0,0,1,1,0,0
2,77,1,0,167.462917,54.242267,0,0,1,0,0,...,1,1,1,0,0,1,0,1,0,0
3,17,1,0,177.097725,71.147762,0,0,0,1,0,...,1,0,0,0,0,0,0,1,0,0
4,62,0,1,158.165788,65.240697,0,0,0,0,1,...,0,1,1,0,0,0,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,61,1,0,182.729800,73.393777,0,0,0,0,1,...,1,1,0,0,0,0,0,1,1,0
9996,33,0,1,167.701136,75.006529,0,0,0,0,0,...,1,1,0,0,0,0,0,1,1,0
9997,44,0,1,145.609998,47.739397,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,1
9998,34,0,1,165.796017,57.567695,0,0,0,0,0,...,1,0,0,0,0,1,1,1,1,0
9999,31,1,0,180.301762,71.425135,0,0,0,0,0,...,1,1,0,0,0,1,0,1,0,0

In [8]:
# label encoding
train_x, test_x = load_data()

In [9]:
from sklearn.preprocessing import LabelEncoder

for c in cat_cols:
    le = LabelEncoder()
    le.fit(train_x[c])

    train_x[c] = le.transform(train_x[c])
    test_x[c] = le.transform(test_x[c])

train_x

,age,sex,height,weight,product,amount,date,medical_info_a1,medical_info_a2,medical_info_a3,...,medical_keyword_1,medical_keyword_2,medical_keyword_3,medical_keyword_4,medical_keyword_5,medical_keyword_6,medical_keyword_7,medical_keyword_8,medical_keyword_9,medical_keyword_10
0,50,1,166.445608,65.016732,9,7000000,2015/2/3,134,202,1,...,1,0,0,0,0,1,0,1,0,0
1,68,0,164.334615,56.544217,0,7000000,2015/5/9,438,263,3,...,0,0,0,0,0,0,1,1,0,0
2,77,1,167.462917,54.242267,2,6000000,2016/2/13,313,325,1,...,1,1,1,0,0,1,0,1,0,0
3,17,1,177.097725,71.147762,3,8000000,2015/7/6,342,213,2,...,1,0,0,0,0,0,0,1,0,0
4,62,0,158.165788,65.240697,1,9000000,2016/9/17,327,102,0,...,0,1,1,0,0,0,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,61,1,182.729800,73.393777,1,2000000,2015/10/21,189,232,7,...,1,1,0,0,0,0,0,1,1,0
9996,33,0,167.701136,75.006529,8,9000,2015/5/28,426,202,3,...,1,1,0,0,0,0,0,1,1,0
9997,44,0,145.609998,47.739397,8,1000,2016/2/29,370,274,1,...,1,0,0,0,0,0,0,1,0,1
9998,34,0,165.796017,57.567695,6,5000,2016/2/27,291,105,1,...,1,0,0,0,0,1,1,1,1,0
9999,31,1,180.301762,71.425135,4,1000000,2015/7/1,288,454,4,...,1,1,0,0,0,1,0,1,0,0

In [10]:
# frequency encoding
train_x, test_x = load_data()

In [11]:
for c in cat_cols:
    freq = train_x[c].value_counts()
    print(freq)
    train_x[c] = train_x[c].map(freq)
    test_x[c] = test_x[c].map(freq)

train_x

Male      6023
Female    3977
Name: sex, dtype: int64
A3    2002
A1    1977
C3    1017
D1    1013
A2    1010
C1     996
E1     494
C2     491
B3     403
B1     395
B2     202
Name: product, dtype: int64
1    4997
2    2484
3    1988
9     531
Name: medical_info_b2, dtype: int64
H    630
C    629
G    626
F    607
b    597
c    595
d    594
e    592
1    589
4    589
D    586
2    580
a    575
A    575
E    569
3    548
B    519
Name: medical_info_b3, dtype: int64

,age,sex,height,weight,product,amount,date,medical_info_a1,medical_info_a2,medical_info_a3,...,medical_keyword_1,medical_keyword_2,medical_keyword_3,medical_keyword_4,medical_keyword_5,medical_keyword_6,medical_keyword_7,medical_keyword_8,medical_keyword_9,medical_keyword_10
0,50,6023,166.445608,65.016732,1013,7000000,2015/2/3,134,202,1,...,1,0,0,0,0,1,0,1,0,0
1,68,3977,164.334615,56.544217,1977,7000000,2015/5/9,438,263,3,...,0,0,0,0,0,0,1,1,0,0
2,77,6023,167.462917,54.242267,2002,6000000,2016/2/13,313,325,1,...,1,1,1,0,0,1,0,1,0,0
3,17,6023,177.097725,71.147762,395,8000000,2015/7/6,342,213,2,...,1,0,0,0,0,0,0,1,0,0
4,62,3977,158.165788,65.240697,1010,9000000,2016/9/17,327,102,0,...,0,1,1,0,0,0,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,61,6023,182.729800,73.393777,1010,2000000,2015/10/21,189,232,7,...,1,1,0,0,0,0,0,1,1,0
9996,33,3977,167.701136,75.006529,1017,9000,2015/5/28,426,202,3,...,1,1,0,0,0,0,0,1,1,0
9997,44,3977,145.609998,47.739397,1017,1000,2016/2/29,370,274,1,...,1,0,0,0,0,0,0,1,0,1
9998,34,3977,165.796017,57.567695,996,5000,2016/2/27,291,105,1,...,1,0,0,0,0,1,1,1,1,0
9999,31,6023,180.301762,71.425135,202,1000000,2015/7/1,288,454,4,...,1,1,0,0,0,1,0,1,0,0

In [12]:
# target encodering
train_x, test_x = load_data()

ce = ce.CatBoostEncoder()
for c in cat_cols:
    train_x[c] = ce.fit_transform(train_x[c], train_y)
    test_x[c] = ce.transform(test_x[c])

train_x

,age,sex,height,weight,product,amount,date,medical_info_a1,medical_info_a2,medical_info_a3,...,medical_keyword_1,medical_keyword_2,medical_keyword_3,medical_keyword_4,medical_keyword_5,medical_keyword_6,medical_keyword_7,medical_keyword_8,medical_keyword_9,medical_keyword_10
0,50,0.192300,166.445608,65.016732,0.192300,7000000,2015/2/3,134,202,1,...,1,0,0,0,0,1,0,1,0,0
1,68,0.192300,164.334615,56.544217,0.192300,7000000,2015/5/9,438,263,3,...,0,0,0,0,0,0,1,1,0,0
2,77,0.096150,167.462917,54.242267,0.192300,6000000,2016/2/13,313,325,1,...,1,1,1,0,0,1,0,1,0,0
3,17,0.397433,177.097725,71.147762,0.192300,8000000,2015/7/6,342,213,2,...,1,0,0,0,0,0,0,1,0,0
4,62,0.096150,158.165788,65.240697,0.192300,9000000,2016/9/17,327,102,0,...,0,1,1,0,0,0,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,61,0.180039,182.729800,73.393777,0.207121,2000000,2015/10/21,189,232,7,...,1,1,0,0,0,0,0,1,1,0
9996,33,0.211118,167.701136,75.006529,0.162591,9000,2015/5/28,426,202,3,...,1,1,0,0,0,0,0,1,1,0
9997,44,0.211064,145.609998,47.739397,0.162431,1000,2016/2/29,370,274,1,...,1,0,0,0,0,0,0,1,0,1
9998,34,0.211011,165.796017,57.567695,0.172884,5000,2016/2/27,291,105,1,...,1,0,0,0,0,1,1,1,1,0
9999,31,0.180009,180.301762,71.425135,0.218774,1000000,2015/7/1,288,454,4,...,1,1,0,0,0,1,0,1,0,0